//Themeing
$primary-color: #0e548d;
$secondary-color: #3ca6b5;
$tertiary-color: #ffb12e;
.primary-color {
  background-color: $primary-color;

  color: #ffffff;
}

@import '~antd/dist/antd.css';
$banner-img: url('banner.jpg');

.App {
  text-align: center;
}

.logo {
  height: 40px;
  color: #000;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
html,
body {
  min-height: 100%;
  min-width: 100%;
}
#root {
  min-height: 100%;
  display: flex;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
  min-width: 320px;
}
.container-login {
  background: linear-gradient(180deg, #0e548d, #3ca6b5);

  display: flex;
  justify-content: center;
  padding: 10px;
  flex: 1;
  height: 100%;
  .form {
    width: 400px;
    margin: auto;
    .login-form-button {
      width: 100%;
    }
    .login-form-button-link {
      text-align: center;
    }
  }
}

//  ANT- DESIGN OVERRIDES
.ant-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ant-layout-header {
  padding: 0 0;
}
.ant-menu {
  justify-content: flex-end;
  background-color: $primary-color;
  color: #ffffff;
  .App-logo {
    margin-right: auto;
  }
}
.ant-rate-star-first,
.ant-rate-star-second {
  color: rgb(105, 105, 105);
}
.ant-menu-sub {
  color: #262833;
}
.ant-modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-layout-content {
  // background-color: #ffffff;
  background: linear-gradient(180deg, #0e548d, #3ca6b5);
  height: 100%;
}

.ant-drawer-body {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 1.5rem;
}
.ant-btn-primary {
  background: $primary-color;
  border-color: $primary-color;
}
.ant-drawer-content-wrapper {
  width: 300px !important;
}
.ant-typography {
  color: #404144;
}
.ant-layout-header .ant-menu {
  border-bottom: none;
}
.ant-card-meta-description {
  color: #404144;
}

//Home page
.home-page-section {
  background-color: #f8f9fa;
  position: relative;
  max-width: 1128px;
  margin: auto;
  min-height: 500px;
  padding: 20px;
}
.home-banner-container {
  position: relative;
  .ant-btn-primary {
    background-color: #0e548d;
    border-color: #0e548d;
  }
}
.home-banner-video-container {
  position: absolute;

  background: $banner-img;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.home-banner-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}
.banner-video-tint {
  content: ''; // ::before and ::after both require content
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(352deg, #000000b6, #6b8c96);
  opacity: 0.5;
}
.home-banner-video::after {
  content: ''; // ::before and ::after both require content
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #eaee44, #33d0ff);
  opacity: 0.7;
}
.home-landing-title {
  color: #696969;
}
.home-feature-sections {
  margin: 20px 0;
}
.home-page-text-wrapper {
  border-radius: 3rem;
  max-width: 400px;
  margin: 20px 0;
}

.home-feature-image-wrapper {
  overflow: hidden;
  padding: 10px;
  img {
    max-height: 700px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 8px 14px -9px #0e548d;
    // transform: perspective(9cm) rotateX(-5deg) rotateY(20deg);
  }
}
.feature-divider {
  color: $secondary-color;
}
.divider-text {
  display: inline;
  text-align: center;
}

//FORUM styles
.forum-wrapper {
  height: 100%;
}
.forum-container {
  max-width: 1128px;
}
.forum-tabs {
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px -9px #b2b5b7;
  padding: 10px;
  padding-top: 40px;
  background-color: #fff;
  min-height: 90%;
  .ant-tabs-nav::before {
    border: none;
  }
  .ant-tabs-nav {
    margin: 0;
  }
  .ant-tabs-nav-list {
    .ant-tabs-tab {
      // background-color: transparent;
      // border: transparent;
      // margin: 0 10px;

      padding-top: 0px;
      padding-bottom: 0px;
    }
    .feed-tabs-name {
      padding: 2px 10px;
    }
  }
}
.forum-pageselect-radio {
  margin: 20px auto;
}
.forum-page-wrapper {
  height: 100%;
  // padding: 24px;
  // margin: 24px;
  border-radius: 8px;
  @media screen and (max-width: 576px) {
    .ant-list-item {
      flex-wrap: nowrap;
    }
    margin: 0px;
    padding: 0px;
  }
  // box-shadow: 0 -3px 42px -17px #c7d2e8;
}
.forum-page-header {
  background-color: whitesmoke;
  margin-bottom: 10px;
  @media screen and (max-width: 576px) {
    padding: 10px 0px;
  }
  @media screen and (max-width: 768px) {
    justify-content: flex-end;
    .ant-page-header-heading {
      justify-content: space-between;
    }
  }
}
.forum-page-header-extra-wrapper {
  flex: 1 1 auto;
  .ant-page-header-heading {
    margin-left: auto;
    align-content: space-between;
  }
  .ant-space {
    justify-content: space-around;
  }
  justify-content: center;
}
.forum-page-header-extra-container {
  display: flex;
  flex-wrap: wrap;
}
.forum-page-header-extra-spacer {
  flex-wrap: wrap;
  @media screen and (max-width: 576px) {
    flex-flow: column;
    .ant-space-item {
      width: 100%;
    }
  }
}
.search-result-container {
}
.user-card-wrapper {
  // flex: 1;
  display: flex;
}
.project-card-wrapper {
  /* min-height: 100%; */
  display: flex;
  // flex: 1;
}
.multiselect {
  min-width: 180px;
  margin: auto;
  flex: 1;
  @media screen and (max-width: 576px) {
    min-width: 150px;
  }
}
.new-post-button {
  position: absolute;
  bottom: 0;
  right: 25px;
}
.new-post-submit {
  float: right;
  .ant-form-item-control-input-content {
    display: flex;
  }
}
.feed-loader-wrapper {
  display: flex;
  justify-content: center;
}
.feed-list-wrapper {
  box-shadow: 0px 0px 6px 1px #f1f1f1;
  text-align: left;
  background: #ffffff;
  padding: 10px;
  border-radius: 8px;
}
.feed-list-wrapper:hover {
  // box-shadow: -13px 0px 11px -7px #e9e9e9ab;
}
.feed-list-item {
  flex-direction: column;
  align-items: stretch;
  border-bottom: none !important;
  padding: 10px;

  border-radius: 8px;

  .ant-list-item-action {
    margin-left: auto;
  }
}
.feed-time {
}
.comments-infinite-container {
  height: 300px;
  padding: 8px 24px;
  overflow: auto;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0px 0px 22px -4px #f1f1f1;
  margin: 0 10px !important;
  .ant-list-item-meta {
    margin-bottom: 0px;
  }
}
.comment-list-spacer {
  width: 100%;
  padding-left: 50px;
}
.add-comment-input {
  border-radius: 8px;
}
.comment-submit-wrapper {
  text-align: right;
}
.comment-input-wrapper {
  padding: 0 10px;
}
.comment-name-container {
  margin: 0 10px !important;
}
.comment-timestamp-container {
  margin: 0 10px !important;
}
.comment-timestamp {
  // font-size: ;
}
.comment-count-container {
  .ant-space-item::hover {
    color: $primary-color;
  }
}
.recommendation-container {
  .ant-card {
  }
  .recomedation-skills {
    align-self: flex-end;
  }
}
// .forum-search-skill-select{}
// .forum-search-type-select{}

//MESSAGES
.messages-page-wrapper {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  .ant-layout {
    border-radius: 8px;
    box-shadow: -11px -10px 26px -15px #00000082;
  }
  .ant-layout.ant-layout-has-sider {
    background-color: $primary-color;
  }
  .ant-menu-dark {
    background-color: $primary-color;
  }
  .ant-tabs {
    flex: 1;
  }
  .ant-tabs-content {
    height: 100%;
  }
  .ant-layout-sider {
    background-color: transparent;

    left: 20px !important;
  }
  .ant-space-item {
  }
  padding: 20px;
}
.messages-tab-pane {
  height: 100%;
}
.messager-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  .ant-page-header {
    background-color: #0015290f;
  }
  .message-send-container {
    .app-button {
      margin: 0px;
      height: 70%;
    }
  }
}
.message-preview-pane-container {
  max-height: calc(100vh - 270px);
  min-height: calc(100vh - 270px);
  overflow-y: scroll;
}
.message-preview-pane {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: flex-end;
  padding: 20px;
  .text-left {
    float: left;
    max-width: 50%;

    .messager-preview-message-container {
      border-radius: 8px 0 8px 0;
      box-shadow: 0px 0px 6px 1px #f1f1f1;
      background-color: #ffb12e99;
      .messager-preview-message {
        color: black;
      }
    }
  }
  .text-right {
    float: right;
    max-width: 50%;
    .messager-preview-message-container {
      border-radius: 0 8px 0 8px;
      .messager-preview-message {
      }
    }
  }
}
.message-input-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-left: 20px;
}
.message-send-button {
  height: 100%;
}
.messager-preview-message {
  color: white;
}
.message-timestamp-container {
  margin: 0px !important;
}
.message-timestamp {
}
.messager-preview-message-container {
  padding: 5px 8px;
  background-color: #0e548ded;
  margin-bottom: 0px !important;
}
.message-menu-item-avatar {
  .ant-avatar-string {
    line-height: 33px;
  }
}
.messager-user-details-card {
  padding-top: 24px;
  border: none;
  background-color: transparent;
  .user-details-avatar {
    height: 80px;
    width: 80px;
  }
  .ant-card-meta-title,
  .ant-card-meta-description {
    color: #fff;
  }
}
.messager-sidebar-menu-item {
  margin: auto;
}
.empty-chat {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.empty-search {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
//************** common utils styles****************//
// PROJECT MODAL
.project-modal-wrapper {
  // background-color: #f8f9fa;
  position: absolute;
  width: 1000px !important;
  margin: auto;
  min-height: 500px;
  padding: 20px;
  margin-bottom: 40px;
}
.list-card {
  box-shadow: 0px 0px 13px -2px #bdbdbd;
  background: #ffffff;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  height: 100%;
  text-align: left;
  display: flex;
  flex-flow: column;
  margin-bottom: 10px;

  .ant-card-body {
    flex: 1 1 auto;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
  }
  .card-user-type {
    position: absolute;
    top: 8px;
    right: 2px;
  }
}
//App titles
.app-titles {
  margin: 0.5rem;
  .xlarge {
    font-size: 2.75rem;
  }
  .large {
    font-size: 2.25rem;
  }
  .medium {
    font-size: 1.75rem;
  }
  .small {
    font-size: 1.25rem;
  }
  .strong {
    font-weight: 600;
  }
  .xstrong {
    font-weight: 900;
  }
}

.app-texts {
  margin: 0.5rem 0px;
  .xlarge {
    font-size: 2.25rem;
  }
  .large {
    font-size: 1.75rem;
  }
  .mediumlarge {
    font-size: 1.5rem;
  }
  .medium {
    font-size: 1.25rem;
  }
  .small {
    font-size: 1rem;
  }
  .xsmall {
    font-size: 0.75rem;
  }

  .strong {
    font-weight: 600;
  }
  .xstrong {
    font-weight: 900;
  }
}

.app-button {
  margin: 0.5rem 0;
  .large {
    font-size: 1.5rem;
  }
  .medium {
    font-size: 1rem;
  }
  .small {
    font-size: 0.75rem;
  }
  .xsmall {
    font-size: 0.5rem;
  }
}

.view-wrapper {
  height: 100%;
  width: 100%;
}
.view-container {
  max-width: 1128px;
  display: flex;
  flex-flow: column;
}

.full-wide {
  width: 100%;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-white {
  color: #ffffff;
}
.text-light {
  color: #545454 !important;
}

.italics {
  font-style: italic;
}
.nomargin {
  margin: 0px !important;
}

//PROFILES
.profile-wrapper-header {
  background-color: #f5f5f5;
  padding: 20px 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px -9px #f1f1f1;
  text-align: left;
  margin-bottom: 20px;
}

.profile-wrapper-header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  .ant-avatar {
    height: 50px;
  }
}
.empty-profile-wrapper {
  height: 100%;
  width: 100%;
}
.profile-userType {
  position: absolute;
  top: 10px;
  left: 10px;
}
.profile-tabs {
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px -9px #b2b5b7;
  padding: 10px;
  padding-top: 40px;
  background-color: #fff;
  flex: 1;
  margin-bottom: 5%;
  .ant-tabs-nav::before {
    border: none;
  }
  .ant-tabs-nav {
    margin: 0;
  }
  .ant-tabs-nav-list {
    .ant-tabs-tab {
      // background-color: transparent;
      // border: transparent;
      // margin: 0 10px;

      padding-top: 0px;
      padding-bottom: 0px;
    }
    .feed-tabs-name {
      padding: 2px 10px;
    }
  }

  //Projects
  .text-wrapper {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }

  //SKILLS
  .skill-options {
    background-color: whitesmoke;
    margin-bottom: 10px;
    .ant-row {
      display: flex;
      flex-flow: column;
      min-height: 400px;
      align-items: stretch;
      justify-content: center;
    }
    .skills-tags-container {
      margin-bottom: 40px;
      .skill-select {
      }
    }
  }
  .feedback-itam {
    display: flex;
    align-items: center;
  }
}
